<html>
<title>{{ title }}
</title>

<body>
	<h2>{{title}}</h2>
	<h3>District: {{location.district_name}}</h3>
	<h3>Date: {{date}} </h3>
	{{description}}
	<br>
	Source: {{source}} <br>
	<form method="post" action =".">
		<input type="hidden" name ="my_type" value ="tweet">
		<input type="hidden" name ="id" value ="{{id}}">
		<input type ="submit" value ="Tweet This">
	</form>

	<form method="post" action ="."> 
		<input type="hidden" name ="my_type" value ="sms">
		<input type="hidden" name ="id" value ="{{id}}">
		<input type ="submit" value ="SMS This">
	</form>

</body>